.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

.particles{
  position:fixed; /*스크롤을 내려도 fixed 된다.*/
  top: 0; /*full-screen 이도록 하기.*/
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}